In [1]:
# Importing required libraries

import pandas as pd
import numpy as np

In [2]:
#Load the given datasets

d1=pd.read_csv("C:\\Users\\tusha\\OneDrive\\Documents\\Datasets\\insurance_data.csv")
d2=pd.read_csv("C:\\Users\\tusha\\OneDrive\\Documents\\Datasets\\employee_data.csv")
d3=pd.read_csv("C:\\Users\\tusha\\OneDrive\\Documents\\Datasets\\vendor_data.csv")

In [3]:
# Task 1 :  Merge the 3 dataset and create 1 view of data.

dataframe_1=pd.merge(d1,d2, on='AGENT_ID', how='left')
dataframe=pd.merge(dataframe_1,d3,on='VENDOR_ID',how='left')

# view of the overall data 

dataframe.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0

In [4]:
#Task 2 : Top 3 insurance types

S1=dataframe.INSURANCE_TYPE.value_counts()
Top_3=S1[:3]
Top_3           #Top 3 insurance types

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

In [5]:
#Task 3 :  Top 5 States where we are getting most insurance claims for customer belonging to HIGH(H) risk segme

dataframe.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1_x',
       'ADDRESS_LINE2_x', 'CITY_x', 'STATE_x', 'POSTAL_CODE_x', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID', 'AGENT_NAME', 'DATE_OF_JOINING',
       'ADDRESS_LINE1_y', 'ADDRESS_LINE2_y', 'CITY_y', 'STATE_y',
       'POSTAL_CODE_y', 'EMP_ROUTING_NUMBER', 'EMP_ACCT_NUMBER', 'VENDOR_NAME',
       'ADDRESS_LINE1', 'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE'],
      dtype='object')

In [6]:
S2=dataframe[dataframe['RISK_SEGMENTATION']=='H'].STATE.value_counts()
Top_5=S2[:5]
Top_5                    #Top 5 states

CA    112
AR     85
CO     78
CT     77
KY     75
Name: STATE, dtype: int64

In [7]:
#Task 4 : Business wants to create a new variable “COLOCATION” which will have following values IF Customer State == Incident State == Agent Address State THEN 1 ELSE 0 Find the mean of this new column.

dataframe['COLOCATION'] = (dataframe['STATE_x']==dataframe['INCIDENT_STATE']) & (dataframe['INCIDENT_STATE']==dataframe['STATE_y']) 
dataframe['COLOCATION'].replace({False:0,True:1}, inplace=True)
dataframe.COLOCATION.mean()                # Mean of the COLOCATION column is 0.0044

0.0044

In [8]:
#Task 5 : Data entry error was detected in the data and you are required to correct it. If for any claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1 Then Update “AUTHORITY_CONTACTED” to Police

df1=dataframe[dataframe['AUTHORITY_CONTACTED']!='Police']
df2=df1[df1['POLICE_REPORT_AVAILABLE']==1].index
dataframe.loc[df2,'AUTHORITY_CONTACTED']='Police'

# For checking
dataframe[(dataframe['POLICE_REPORT_AVAILABLE']==1)&(dataframe['AUTHORITY_CONTACTED']!='Police')]

#So we said that our code is correct.

Empty DataFrame
Columns: [TXN_DATE_TIME, TRANSACTION_ID, CUSTOMER_ID, POLICY_NUMBER, POLICY_EFF_DT, LOSS_DT, REPORT_DT, INSURANCE_TYPE, PREMIUM_AMOUNT, CLAIM_AMOUNT, CUSTOMER_NAME, ADDRESS_LINE1_x, ADDRESS_LINE2_x, CITY_x, STATE_x, POSTAL_CODE_x, SSN, MARITAL_STATUS, AGE, TENURE, EMPLOYMENT_STATUS, NO_OF_FAMILY_MEMBERS, RISK_SEGMENTATION, HOUSE_TYPE, SOCIAL_CLASS, ROUTING_NUMBER, ACCT_NUMBER, CUSTOMER_EDUCATION_LEVEL, CLAIM_STATUS, INCIDENT_SEVERITY, AUTHORITY_CONTACTED, ANY_INJURY, POLICE_REPORT_AVAILABLE, INCIDENT_STATE, INCIDENT_CITY, INCIDENT_HOUR_OF_THE_DAY, AGENT_ID, VENDOR_ID, AGENT_NAME, DATE_OF_JOINING, ADDRESS_LINE1_y, ADDRESS_LINE2_y, CITY_y, STATE_y, POSTAL_CODE_y, EMP_ROUTING_NUMBER, EMP_ACCT_NUMBER, VENDOR_NAME, ADDRESS_LINE1, ADDRESS_LINE2, CITY, STATE, POSTAL_CODE, COLOCATION]
Index: []

[0 rows x 54 columns]

In [9]:
# Task 6 :  Business wants to check the Claim Amount for deviation for each transaction, they would like you to calculate as follow
#   CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)
#                     / CURRENT_CLAIM_AMOUNT
#   If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0
#   If there is less than 30 days of transaction history THEN -1 Note: LAST_30DAYS does not include current day
 
    
    
dataframe['TXN_DATE_TIME'] = pd.to_datetime(dataframe['TXN_DATE_TIME'])    
current_d=dataframe.TXN_DATE_TIME.max()   
current_d

Timestamp('2021-06-30 00:00:00')

In [10]:
claims_avg= dataframe.loc[(dataframe['TXN_DATE_TIME'] > '2021-05-30') & (dataframe['TXN_DATE_TIME'] < '2021-06-30')].groupby('INSURANCE_TYPE').mean()['CLAIM_AMOUNT']
claims_avg

INSURANCE_TYPE
Health      10904.411765
Life        52242.857143
Mobile        378.358209
Motor        5573.770492
Property    24627.906977
Travel       2800.000000
Name: CLAIM_AMOUNT, dtype: float64

In [11]:
# Defining the function for claim deviation

def claim_deviation(s):
    if (current_d - s['TXN_DATE_TIME'])<pd.Timedelta(days=30):
        return -1
    claim_dev = claims_avg[s['INSURANCE_TYPE']] / s['CLAIM_AMOUNT']
    if claim_dev < 0.5:
        return 1
    else:
        return 0

In [12]:
dataframe['CLAIM_DEVIATION'] = dataframe.apply(claim_deviation,axis=1)

In [13]:
dataframe.CLAIM_DEVIATION.value_counts()

 0    9216
-1     784
Name: CLAIM_DEVIATION, dtype: int64

In [14]:
#    Here 9216 claims with deviation less than 0.5 and
#    784 claims with transaction history of less than 30 days.

In [15]:
#Task 7 : Find All Agents who have worked on more than 2 types of Insurance Claims. Sort them by Total Claim Amount Approved under them in descending order

# Agent with more than two types
typecount = dataframe.groupby('AGENT_ID')['INSURANCE_TYPE'].nunique() 
agent= typecount> 2
agents_more_2_types = agent[agent].index
Top_agents = dataframe.groupby(['AGENT_ID']).sum().loc[agents_more_2_types][['CLAIM_AMOUNT']].sort_values('CLAIM_AMOUNT',ascending=False).join(typecount)
Top_agents

            CLAIM_AMOUNT  INSURANCE_TYPE
AGENT_ID
AGENT00807        528800               6
AGENT00679        489000               4
AGENT00771        422100               5
AGENT00125        400400               4
AGENT00789        392900               4
...                  ...             ...
AGENT00910         15500               3
AGENT00689         13700               3
AGENT00732         11300               3
AGENT00706         10800               3
AGENT00604          5500               3

[1164 rows x 2 columns]

In [16]:
#Task 8 : Mobile & Travel Insurance premium are discounted by 10%
#         Health and Property Insurance premium are increased by 7%
#         Life and Motor Insurance premium are marginally increased by 2%
#         What will be overall change in % of the Premium Amount Collected for all these Customer

premium_by_types = dataframe.groupby('INSURANCE_TYPE').sum()['PREMIUM_AMOUNT']
premium_by_types

INSURANCE_TYPE
Health      252455.73
Life        125621.22
Mobile       15191.42
Motor       165391.98
Property    202285.83
Travel      124139.77
Name: PREMIUM_AMOUNT, dtype: float64

In [17]:
# Mobile and Travel premium are discounted by 10%
premium_by_types[['Travel','Mobile']]*=0.9
# Health and Property premium are increased by 7%
premium_by_types[['Health','Property']]*=1.07
# life and Motor premium are marginally increased by 2%
premium_by_types[['Life','Motor']]*=1.02

In [18]:
# Total premium after discount and increment
Total_premium=sum(premium_by_types.values)
Total_premium

908805.0042000001

In [19]:
# Overall change in % percent
(Total_premium-dataframe['PREMIUM_AMOUNT'].sum())*100/dataframe['PREMIUM_AMOUNT'].sum()

2.6798588543858517

In [20]:
# Overall change in premium is 2.68%

In [21]:
#Task 9 : Business wants to give discount to customer who are loyal and under stress due to Covid19. They have laid down an eligibility Criteria as follow
#        IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”
#                 AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0
#        Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it mean.


dataframe['ELIGIBLE_CUSTOMERS']=(dataframe['TENURE']>60)&(dataframe['EMPLOYMENT_STATUS']=='N')&(dataframe['NO_OF_FAMILY_MEMBERS']>=4)
dataframe['ELIGIBLE_CUSTOMERS'].replace({False:0,True:1}, inplace=True)
dataframe.ELIGIBLE_CUSTOMERS.mean()   # Mean

0.0299

In [22]:
#Task 10 : Business wants to check Claim Velocity which is defined as follow
#      CLAIM_VELOCITY = NO_OF_CLAIMS_IN_LAST30DAYS (for the current insurance type)
#                   / NO_OF_CLAIMS_IN_LAST3DAYS (for the current insurance type)

In [23]:
#last 30 days
last_30_day=dataframe.loc[(dataframe['TXN_DATE_TIME'] > '2021-05-30') & (dataframe['TXN_DATE_TIME'] < '2021-06-30')] 
#last 3 days
last_3_day = dataframe.loc[(dataframe['TXN_DATE_TIME'] > current_d-pd.Timedelta(days=4)) & (dataframe['TXN_DATE_TIME'] < current_d)]

In [24]:
All_claims_in_Last_30D = pd.DataFrame(last_30_day.groupby('INSURANCE_TYPE').size() ,columns=['CLAIMS_IN_LAST30D'])
All_claims_in_Last_3D = pd.DataFrame(last_3_day.groupby('INSURANCE_TYPE').size(),columns=['CLAIMS_IN_LAST3D'])

In [25]:
total_claims_are=All_claims_in_Last_30D.join(All_claims_in_Last_3D)

# claim velocity 
total_claims_are['CLAIM_VELOCITY'] = total_claims_are['CLAIMS_IN_LAST30D']/total_claims_are['CLAIMS_IN_LAST3D']

In [26]:
total_claims_are

                CLAIMS_IN_LAST30D  CLAIMS_IN_LAST3D  CLAIM_VELOCITY
INSURANCE_TYPE
Health                        136                14        9.714286
Life                          140                14       10.000000
Mobile                        134                10       13.400000
Motor                         122                13        9.384615
Property                      129                13        9.923077
Travel                        125                14        8.928571

In [27]:
#Task 11 : Find all low performing agents i.e. employees who are in the bottom 5 percentile based on Claims worked by them.

Agent_data = dataframe.groupby('AGENT_ID').sum()
Agents_Performing_poor = Agent_data[Agent_data['CLAIM_AMOUNT']<=dataframe.groupby('AGENT_ID').sum().quantile(0.05)['CLAIM_AMOUNT']][['CLAIM_AMOUNT']]
Agents_Performing_poor

            CLAIM_AMOUNT
AGENT_ID
AGENT00006         22400
AGENT00014          7400
AGENT00016         27000
AGENT00085         25700
AGENT00088         27700
AGENT00091         30000
AGENT00098         28200
AGENT00134         22000
AGENT00149         28900
AGENT00156         13200
AGENT00172         22200
AGENT00185         16100
AGENT00186         27700
AGENT00188         28400
AGENT00197         18500
AGENT00252         20000
AGENT00263         11500
AGENT00275         16200
AGENT00279         28000
AGENT00300         12600
AGENT00310         28800
AGENT00316         22200
AGENT00351         21700
AGENT00425         17800
AGENT00442         30300
AGENT00536         20000
AGENT00562         21100
AGENT00571         24200
AGENT00585         16600
AGENT00590         22200
AGENT00604          5500
AGENT00621          5300
AGENT00628          6100
AGENT00672         21300
AGENT00689         13700
AGENT00706         10800
AGENT00721          9000
AGENT00732         11300
AGENT00773         15000
AGENT00780         11300
AGENT00790          6000
AGENT00804         20000
AGENT00805         22600
AGENT00830         23500
AGENT00841         17800
AGENT00856         24200
AGENT00894         27600
AGENT00910         15500
AGENT00969         28300
AGENT00985         30000
AGENT01021         24300
AGENT01037          5600
AGENT01052         28000
AGENT01077          4200
AGENT01107         24700
AGENT01128         28000
AGENT01131         27500
AGENT01151         28000
AGENT01154           800
AGENT01179         27300

In [28]:
#Task 12 : Business wants to find all Suspicious Employees (Agents).
#          IF TOTAL CLAIM AMOUNT which meet below criteria is >= 15000 THEN AGENT is classified
#          as Suspicious ELSE Not
#          CLAIM_STATUS = Approved AND CUSTOMER_RISK_SEGMENTATION = High
#          AND INCIDENT_SEVERITY = “Major Loss”
#          If Suspicious, then 1 ELSE 0. Find mean of this column.

In [29]:
criteria_is=dataframe[(dataframe['CLAIM_STATUS']=='A') & (dataframe['RISK_SEGMENTATION']=='H') & (dataframe['INCIDENT_SEVERITY']=='Major Loss')]
suspicious = criteria_is.groupby('AGENT_ID').sum()
suspicious_agents = suspicious[suspicious['CLAIM_AMOUNT']>=15000].index
suspicious_agents

Index(['AGENT00001', 'AGENT00003', 'AGENT00011', 'AGENT00021', 'AGENT00043',
       'AGENT00052', 'AGENT00076', 'AGENT00080', 'AGENT00097', 'AGENT00112',
       ...
       'AGENT01130', 'AGENT01142', 'AGENT01168', 'AGENT01175', 'AGENT01177',
       'AGENT01181', 'AGENT01182', 'AGENT01184', 'AGENT01188', 'AGENT01197'],
      dtype='object', name='AGENT_ID', length=149)

In [30]:
dataframe['SUSPICIOUS'] = 0
suspicious_employees = dataframe['AGENT_ID'].isin(suspicious_agents)

In [31]:
dataframe.loc[suspicious_employees,'SUSPICIOUS']=1

In [32]:
dataframe['SUSPICIOUS'].mean()

0.141

In [ ]:
# The mean is 0.141